body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: #222;
  color: #fff;
}

#ui {
  position: absolute;
  top: 5px; left: 5px;
  z-index: 10;
}

#hud {
  margin-top: 5px;
}

canvas {
  display: block;
  background: #444;
  position: absolute;
  top: 0; left: 0;
}

#minimap {
  width: 200px;
  height: 200px;
  bottom: 5px;
  right: 5px;
  position: absolute;
  border: 2px solid #fff;
  background: #000;
  z-index: 20;
}
